body {
  padding: 0;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  background-color: black;
  /*background-image: url(../images/sky.png);*/
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
  color: white;
}

#game-screen {
  display: none;
  color:white;
  width: 100%;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/horiroad1.png);
  background-size: cover;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: -100%0;
  }
  100% {
    background-position: 0% 0;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 100px;
}

body button {
  font-size: 20px;
  background-color:blue
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 3px;
  margin-bottom: 10px;
}


 #start-button {
  background-color: black;
  color: white;
 }

#man {
  width: 50px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
